#titulo{
  color: blue;
}

.descricao{
  color: green;
}

p{
  color: red;
}

.principal article {

}

main article{

}

main, article{

}


#teste1 body > .c1 .c2 > div > div > div > p > .c2.c3.c4#abc > p > p p p p p > div .classeFinal .ufa{

}

enzo: 2, 7, 11
soller: 2, 7, 11
matumoto: 
branco: 2, 8, 2
flavio: 2, 7, 12
gabriel: 2, 7, 12

bossini: 2, 7, 12

